@model CarsSearch.Web.Models.ViewModels.CarViewModel

<tr>
    <td>@Model.BrandName</td>
    <td>@Model.YearManufactured</td>
    <td>@Model.HorsePower</td>
    <td>@Model.ImporterName</td>
    <td>@Model.Description</td>
</tr>